/* ---------------------------------------------reservation-------------------------------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner{
	height: 100vh; /*100% of the viewport height*/
	width: 100%;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(train.jpg); /*creates an image consisting of a progressive transition between two or more colors along a straight line.*/
	background-size:cover;
	background-position:center;
	background-repeat:repeat;	
}

.signup-form{
    height:500px;
    width:600px;
    /* margin: auto; */
    margin-left:25%;
    margin-top:20px;
    border: 2px solid green;
}

.Signup-head{
    padding:8px;
    text-align:center;
}
.signup-content .radio{
    margin:10px 10px;
}
.signup-content2 .input{
    width:400px;
    padding:10px;
    margin:10px;
    color:#fff;
}
.signup-content2 .tarikh{
    margin:10px;
    padding:10px;
    color:#fff;
}
.signup-content2  .person{
    padding:10px;
    margin:10px;
    color:#fff;
}
.signup-content2 .travel{
    margin:20px 20px;
}
.signup-content2 .travel2{
    padding:5px;
}
.signup-content2 .submit-btn{
    border:none;
    outline:none;
    width:200px;
    padding:10px;
    margin-left:200px;
}

