 /* ----------------------------------------Home page --------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.banner{
	height:auto;
	width: auto;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(train.jpg); 
	background-size:cover;
	background-repeat:repeat;
	background-position:center;	
	border: 2px solid green;
	
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 180px;
	cursor: pointer;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 5px;
	position: relative; 
	padding: 7px;
	cursor: pointer;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 6px;
	cursor: pointer;
}

.navbar ul li::after{ 
	content: '';  
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}

.navbar ul li:hover::after{
	width: 100%; 
}

.content{
	width: 100%;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff; 
}

.content h1{
	font-size: 70px;
	margin-top: 80px;	
}

.content h2{
	font-size: 30px;
	margin-top: 80px;
}

button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span{
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span{
	width: 100%;
}

button:hover{
	border: none;	
}
          /*------------------------------------- login and signup --------------------------------------*/     
form
{
	/* border: 2px solid green; */
	width: 50%;
	text-align: left;
	margin-left: 35%;
}

.form label
{
	color: aqua;
	font-size: 18px;
	font-weight: 500;
	margin-left: -20%;
}
.form input, select, textarea
{
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: 500;
	background-color: rgba(124, 117, 117, 0.693);
	outline: none;
	width: 70%;
	height: 30px;
	border-radius: 5px;
	margin-left: -5%;
	/* border: 2px solid green; */
}
           
.form__text{
    text-align:center;
}

.form__link{
    color:#4747f6;
    text-decoration:none;
    cursor:pointer;
	/* background-color:rgb(167, 212, 212); */
}

.form__link:hover{
    text-decoration:underline;
}	

th{
	color:aliceblue;
}

/* --------------------------------------------------------Time table------------------------------------------ */

.table1{
	padding-left:12%;
}

.table1 th{
	color:aqua;
}

.table1 tbody{
	color:white;
	text-align:center;
}

h1{
	text-align: center;
	font-size: 70px;
	margin-top: 80px;
	color:aliceblue;	
}

.table1 h2{
	text-align: center;
	color:aliceblue;
}

.table1 ul,li{
	text-align: left;
}

.logo2{
	width: 180px;
	cursor: pointer;
	padding-left:20%;
}
	

